.earth__container {
    position: absolute;
    right: 410px;
    bottom: 264px;
}

.earth {
    width:66px;
    height:66px;
    
    border-radius:50%;
    
    background-image:url( https://raw.githubusercontent.com/cartalan/TierraGirando/master/img/mapa.png);
    background-size:cover;
    
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    
    margin:auto;
    
    box-shadow:-15px -10px 0 0 rgba(0,0,0,.15) inset, -35px -15px 0 0 rgba(0,0,0,.1) inset, 2.5px 2.5px 0 0 rgba(255,255,255,.2) inset;

    -webkit-animation:rotationEarth 8s infinite linear;
    -moz-animation:rotationEarth 8s infinite linear;
    animation:rotationEarth 8s infinite linear;
}

@-webkit-keyframes rotationEarth {
   from {
       background-position:left center;
   }
   to {
       background-position: -396px center;
   }
}

@keyframes rotationEarth {
   from {
       background-position:left center;
   }
   to {
       background-position: -396px center;
   }
}