* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  line-height: 1.6rem;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.app {
  /* background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%); */

  position: relative;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  align-items: center;

  position: relative;
}

.header__navbar-container {
  margin-top: 40px;

  font-size: 1.6rem;

  position: absolute;
  top: 40px;
  left: 141px;
  right: 150px;

  display: inline-flex;
  justify-content: space-around;

  margin: 0;
}

.navbar__logo {
  position: relative;
}

.supporting-logo {
  position: absolute;

  left: 26px;
}
.logo-desc {
  font-size: 16px;
  color: var(--green);

  position: absolute;
  left: 6px;
  top: 46px;
}

.navbar__item:hover > a {
  border-bottom: 1px solid black;

  /* background-color: var(--green); */
  /* color: var(--primary); */
  /* transition: linear 0.25s; */
}

.navbar__item a {
  color: black;
}

.navbar__list {
  list-style-type: none;

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  gap: 55px;
}

.navbar__item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-transform: capitalize;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar__account {
  display: flex;
  justify-content: flex-end;
}

.navbar__login-btn {
  margin-right: 5rem;

  display: flex;
  flex-direction: row;

  width: 88px;
  height: 34px;

  background-color: var(--primary);
}

.navbar__login-btn span {
  width: 58px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  text-transform: capitalize;

  color: var(--green);
}

.navbar__signup-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 88px;
  height: 34px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  text-transform: capitalize;
  background-color: var(--green);
}

.navbar__signup-btn span {
  width: 58px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  text-transform: capitalize;
  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar__login-btn:hover {
  border: var(--green) solid 1px;

  transition: linear 0.25s;
}

.navbar__signup-btn:hover,
.discover__container-btn:hover {
  background-color: var(--primary);
  border: var(--green) solid 1px;

  transition: linear 0.25s;
}

.navbar__signup-btn:hover span,
.discover__container-btn:hover span {
  color: var(--green);
  transition: linear 0.25s;
}

.banner {
  max-height: 100vh;
  width: 100%;
}

.logo__svg {
  position: absolute;

  top: 115px;
  left: 36px;

  width: 75.587rem;
  height: 75.587rem;
}

.logo__svg:hover {
  animation: move linear 1s;
}

.discover__container {
  position: absolute;
  left: 830px;
  top: 309px;

  width: 661px;
  height: 529px;

  animation: moveUp linear 0.5s;
}

.discover__container-heading {
  text-transform: uppercase;

  height: 29px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: var(--green);
}

.discover__container-title h1 {
  color: var(--black);

  font-family: "Inter";
  font-weight: 500;
  font-size: 8.1rem;

  line-height: 100%;

  margin: 0;
}

.discover__container-desc span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--text);
}

.discover__container-heading,
.discover__container-title,
.discover__container-desc {
  margin-bottom: 3rem;
}

.discover__container-btn {
  width: 140px;
  height: 34px;

  color: var(--primary);
  background-color: var(--green);
}

.discover__container-btn span {
  width: 110px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  text-transform: capitalize;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.popular-place__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0px;
  gap: 20px;

  position: absolute;
  top: 100vh;
  width: 100%;
  height: 443px;
}

.popular-place__title {
  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;

  line-height: 57px;

  text-transform: capitalize;
  text-align: center;

  margin: 0;

  color: var(--text-333);
}

.popular-place__title h1 {
  font-size: 42px;
}

.popular-place__list {
  text-align: center;

  list-style-type: none;

  padding: 0;
  margin: 109px 0 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 90%;
  margin: 100px auto auto auto;
}

.popular-place__item {
  position: relative;
}

.popular-place__item-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: absolute;
  left: 0;
}

.popular-place__item-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  margin-top: 18px;
  margin-bottom: 9px;
}

.popular-place__item-location {
  display: flex;
  flex-direction: row;
}

.popular-place__item-location p {
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  text-transform: capitalize;

  color: var(--text-6a);
}

.popular-place__item-img{
  margin-right: 5px;
}

.popular-place__item-img:hover {
  background-color: rgba(0, 0, 0, .9);
  opacity: 0.8;
  
  border-radius: 15px;
}

.popular-place-card__container:hover {
  border: 2px solid black;
}
