* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  line-height: 1.6rem;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.app {
  /* background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%); */

  position: relative;
  background-color: #f5f5f5;
}

.header {
  display: flex;
  align-items: center;

  position: relative;
}

.header__navbar-container {
  margin-top: 40px;

  font-size: 1.6rem;

  position: absolute;
  top: 40px;
  left: 141px;
  right: 150px;

  display: inline-flex;
  justify-content: space-around;

  margin: 0;
}

.navbar__logo {
  position: relative;
}

.supporting-logo {
  position: absolute;

  left: 26px;
}
.logo-desc {
  font-size: 16px;
  color: var(--green);

  position: absolute;
  left: 6px;
  top: 46px;
}

.navbar__item:hover > a {
  border-bottom: 1px solid black;

  /* background-color: var(--green); */
  /* color: var(--primary); */
  /* transition: linear 0.25s; */
}

.navbar__item a {
  color: black;
}

.navbar__list {
  list-style-type: none;

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  gap: 55px;
}

.navbar__item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-transform: capitalize;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar__account {
  display: flex;
  justify-content: flex-end;
}

.navbar__login-btn {
  margin-right: 5rem;

  display: flex;
  flex-direction: row;

  width: 88px;
  height: 34px;

  background-color: var(--primary);
}

.navbar__login-btn span {
  width: 58px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  text-transform: capitalize;

  color: var(--green);
}

.navbar__signup-btn {
  width: 88px;
  height: 34px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  text-transform: capitalize;
  background-color: var(--green);
}

.navbar__signup-btn span {
  width: 58px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  text-transform: capitalize;
  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar__login-btn:hover {
  border: var(--green) solid 1px;

  transition: linear 0.25s;
}

.navbar__signup-btn:hover,
.discover__container-btn:hover {
  background-color: var(--primary);
  border: var(--green) solid 1px;
}

.navbar__signup-btn:hover span,
.discover__container-btn:hover span {
  color: var(--green);
}

.banning {
  min-height: 100vh;
  width: 90%;

  margin: auto;

  display: flex;
  flex-direction: row;

  animation: moveUp linear 0.8s;
}

.logo__svg {
  margin-top: 0px;

  width: 45%;
}

.logo__svg:hover {
  animation: move linear 1s;
}

.discover__container {
  margin: 300px 0 0 100px;
  width: 40%;
}

.discover__container-heading {
  text-transform: uppercase;

  height: 29px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: var(--green);
}

.discover__container-title h1 {
  color: var(--black);

  font-family: "Inter";
  font-weight: 500;
  font-size: 8.1rem;

  line-height: 100%;

  margin: 0;
}

.discover__container-desc span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--text);
}

.discover__container-heading,
.discover__container-title,
.discover__container-desc {
  margin-bottom: 3rem;
}

.discover__container-btn {
  width: 140px;
  height: 34px;

  color: var(--primary);
  background-color: var(--green);
}

.discover__container-btn span {
  width: 110px;
  height: 24px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  text-transform: capitalize;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.popular-place__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0px;
  gap: 20px;
}

.popular-place__title {
  width: 100%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;

  line-height: 57px;

  text-transform: capitalize;
  text-align: center;

  margin: 0;

  color: var(--text-333);
}

.popular-place__title h1 {
  font-size: 42px;
}

.popular-place__list {
  text-align: center;

  list-style-type: none;

  padding: 0;
  margin: 109px 0 0 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 90%;
  margin: 100px auto auto auto;

  padding-bottom: 30px;
}

.popular-place__item-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popular-place__item-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  margin-top: 18px;
  margin-bottom: 9px;
}

.popular-place__item-location {
  display: flex;
  flex-direction: row;
}

.popular-place__item-location p {
  margin: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  text-transform: capitalize;

  color: var(--text-6a);
}

.popular-place__item-img {
  margin-right: 5px;
}

.popular-place__item-img:hover {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.8;

  border-radius: 15px;
}

.popular-place-card__container:hover {
  border: 2px solid black;
}

.vacation-package__container {
  background-color: var(--bg-color);
  padding: 30px;
}

.vacation-package__heading {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  text-transform: capitalize;

  color: var(--black);
}

.vacation-package__content {
  display: flex;
  flex-direction: row;

  list-style-type: none;
  padding: 0;

  width: 90%;

  margin: 60px auto;
}

.vacation-package__card:last-child {
  margin: 0;
}

.vacation-package__card {
  background-color: var(--white);

  width: 22.5%;
  overflow: hidden;

  margin-right: 20px;

  border-radius: 20px;

  filter: drop-shadow(0px 16px 40px rgba(112, 144, 176, 0.2));
}

.vacation-package__card:hover {
  animation: hoverMoveUp linear .25s;
  
}

.vacation-package__card-img {
  /* border-radius: 20px 20px 0 0; */
  width: 374px;
  height: 250px;

  object-fit: cover;

  transform: translateY(-2%);
}

.vacation-package__card-content {
  padding: 8px;
}
.vacation-package__card-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  margin-bottom: 10px;

  text-transform: capitalize;

  color: var(--black);
}

.vacation-package__card-rate {
  display: flex;
  flex-direction: row;

  margin-bottom: 10px;
}

.vacation-package__card-star {
  color: var(--star-color);
  font-size: 20px;
  margin-right: 4px;
}

.vacation-package__card-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;

  color: var(--text-6a);
}

.vacation-package__card-payment {
  display: flex;
  justify-content: space-between;

  padding: 12px;
}

.vacation-package__card-btn {
  background-color: var(--green);

  padding: 5px 20px;

  border-radius: 10px;
}

.vacation-package__card-btn:hover {
  background-color: var(--primary);
  border: 1px solid var(--green);
}

.vacation-package__card-btn:hover span {
  color: var(--green);
}

.vacation-package__card-btn span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;

  text-transform: capitalize;

  color: var(--white);

  flex: none;
  order: 0;
  flex-grow: 0;
}

.vacation-package__card-price span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  text-transform: capitalize;

  color: var(--black);

  margin-right: 4px;
}

.vacation-package__card-price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;

  text-transform: capitalize;

  color: #ff6b6b;

  display: flex;
  align-items: center;
}
